@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:#e5e7eb;
    background-color: rgb(23 23 23);
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 150vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    border: 2px solid #e5e7eb;
    margin: 2rem auto 0 auto;
    max-width: 900px;
    background: rgb(23 23 23);
    break-inside: avoid;
}

.logo img {
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.nav-links ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;  
}

.intro {
    border-bottom: 2px solid #e5e7eb;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    padding: 2rem 0;

}

main {
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid #e5e7eb;
    background: #171717;
    padding-bottom: 2rem;
}

.sy {
    border-top: 2px solid #e5e7eb;
    padding: 1rem;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    border-bottom: 2px solid #e5e7eb;
}

.projects, .work-experience, .education {
    border-right: 2px solid #e5e7eb;
    padding: 1.5rem 1.5rem;
    min-height: /* 220px */unset;
}

.education { border-right: none; }

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.reviews h2 {
    margin-bottom: 1.5rem;
    font-family:'Comic Sans MS', cursive, sans-serif;
}

.reviews blockquote  {
    border: 2px solid #e5e7eb;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin: 0 1rem 1rem 0;
    font-size: 1rem;
    color: #e5e7eb;
}

.end-note, footer {
    display: flex;
    justify-content: center;
    color: azure;
}

