@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    border: 2px solid #222;
    margin: 2rem auto 0 auto;
    max-width: 900px;
    background: #fff;
}

.logo img {
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.nav-links ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;  
}

.nav-links a:not(:last-child)::after {
    content: "/";
    margin-left: 2rem;
    color: #000;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 120vh;
}

main {
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid #222;
    background: #fff;
    padding-bottom: 2rem;
}

.intro {
    text-align: center;
    padding: 2rem 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    border-bottom: 2px solid #222;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    border-bottom: 2px solid #222;
}

.projects, .work-experience, .education {
    border-right: 2px solid #222;
    padding: 1.5rem;
    min-height: 220px;
}

.projects { border-left: none; }

.education { border-right: none; }

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.reviews h2 {
    margin-bottom: 1.5rem;
    font-family:'Comic Sans MS', cursive, sans-serif;
}

.reviews blockquote  {
    border: 2px solid #222;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin: 0 1rem 1rem 0;
    font-size: 1rem;
    color: #222;
}

.aside footer {
    display: flex;
    justify-content: center;
    color: azure;
}

